body {
  margin: 4rem;
}

/* common section */
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 20rem));
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.title {
  text-align: center;
  color: #006400;
  text-shadow: 1px 1px #000000;
  margin-top: 0px;
  margin-bottom: 0px;
}
.description {
  padding: 1rem;
  margin-top: 0px;
  margin-bottom: 0px;
}
.btn {
  padding: 1rem;
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
  margin: 1rem;
  border: none;
  background: #c4c4c4;
  border-radius: 2px;
  transition: 0.3s;
}
.btn:hover {
  transform: scale(1.02);
  background-color: #006400;
  color: #ffffff;
}

/* image */
img.small {
  height: 16rem;
  width: 100%;
  object-fit: cover;
}
img.large {
  width: 900px;
  height: 300px;
  margin-top: 20px;
  object-fit: contain;
}

/*card */
.card {
  overflow: hidden;
  box-shadow: 0 5px 10px #888888;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.3s;
  font-family: "Amethysta";
  font-size: 18px;
}
.card:hover {
  transform: scale(1.02);
}

/*details */
.detail {
  width: 900px;
  height: 600px;
  box-shadow: 0 5px 10px #888888;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Amethysta";
  font-size: 18px;
  position: relative;
  right: 250px;
}
